<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h5>会員一覧</h5>
      <% @customers.each do |customer| %>
        <table class="table table-borderless bg-light mt-4">
          <thead class="border bg-success">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%=link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
            <% if customer.is_active == true %><!--customerのステータスが有効の時-->
              <td class="text-success">有効</td>
            <% else %><!--それ以外-->
              <td class="text-secondary">退会</td>
            <% end %><!--ifのend-->
            </tr>
          </tbody>
        </table>
      <% end %><!--doのend-->
    </div>
  </div>
</div>
